	<form action="/login" method="post">
  	  <!-- user input-->
  	  Никнейм:<br>
  	  <input type="text" name="username" placeholder="Никнейм" required><br><br>
  	  Пароль:<br>
  	  <input type="password" name="password" placeholder="Пароль" required><br><br>
  	  <!-- submit button -->
  	  <input class="btn btn-outline-dark" type="submit" value="Войти">
	</form>
	<div>
	<p>Нет аккаунта? <a href="/register">Зарегистрируйтесь</a>.</p>
	</div>