<div id="content">
    <form action="/create_product" method="post">
      Название:<br>
      <input type="text" class="form-control me-2" name="name" placeholder="Название" required><br><br>
      Цена:<br>
      <input type="number" class="form-control me-2" name="price" placeholder="Цена" required><br><br>
      Количество:<br>
      <input type="number" class="form-control me-2" name="quantity" placeholder="Количество" required><br><br>
      Файл изображения:<br>
      <input type="text" class="form-control me-2" name="file" placeholder="Изображение" required><br><br>
      Категория:<br>
      <select class="form-select" name="category" id="category" aria-label="Категория">
        <option disabled>Выберите категорию</option>
        {{#each category}}
          <option value="{{this.value}}">{{this.name}}</option>
        {{/each}}
      </select>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" name="hidden" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Скрыт
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" name="actual" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          В активных
        </label>
      </div>

      <input class="btn btn-outline-dark"  type="submit" value="Создать товар">
    </form>
</div>