	<form action="/signup" method="post">
  	  <!-- user input-->
      E-mail:<br>
  	  <input type="text" class="form-control me-2" name="email" placeholder="E-mail" required><br><br>
  	  Никнейм:<br>
  	  <input type="text" class="form-control me-2" name="username" placeholder="Никнейм" required><br><br>
  	  Пароль:<br>
      <input type="password" class="form-control me-2" name="password" placeholder="Пароль" required><br><br>
  	  <!-- submit button -->
  	  <input class="btn btn-outline-dark"  type="submit" value="Создать аккаунт">
	</form>
	<div>
		<p>Уже есть аккаунт? <a href="/login">Авторизуйтесь</a>.</p>
	</div>