        <div id="content">
            
            <h1>Статистика проекта</h1>
            <div>
            <ul>
            <li>Пользователей: {{users_count}} шт.</li>
            <li>Товаров: {{products_count}} шт.</li>
            <li>Заказов: {{orders_count}} шт.</li>
            <li>Всего заказано позиций: {{item_count}} шт.</li>
            </ul>
            </div>

            <div class="line"></div>

        </div>